
@{
    Layout = null;
}

@model IEnumerable<Kategori>

        

        <hr>

        <h4 class="heading-primary">Categories</h4>
        <ul class="nav nav-list mb-xlg">
            @foreach (Kategori item in Model)
            {
                <li><a href="/Category/Makale/@item.id">@item.Adi (@item.Makales.Count)</a></li>
            }

        </ul>

        

    

  

