
@{
    Layout = null;
}

<form method="post" action="/Home/Search">
    <div class="input-group input-group-lg">
        <input class="form-control" placeholder="Search..." name="name" id="s" type="text">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-search"></i></button>
        </span>
    </div>
</form>

